* {
	margin: 0;
	padding: 0;
}
body {
	background: #E9ECF4;
	color: #000;
	font-family: 'Roboto', sans-serif;
}
  
.header {
  max-width: 1000px;
  height: 50px;
  background-color: blue;
  animation-name: cambiarColor;
  animation-duration: 2s;
  animation-timing-function:ease;
  animation-iteration-count:initial;
}
  
@keyframes cambiarColor {
      0% {background: rgb(247, 243, 51); width: 200px;}         
      50% {background: rgb(241, 7, 7); width: 400px;}     
      100% {background: rgb(18, 5, 139); width: 600px;}         
}  

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display:grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "header header header"
               "contenido contenido sidebar"
               "widget-1 widget-2 sidebar"
               "footer footer footer";
}
  
.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
  background: rgb(221, 219, 219);
  padding: 20px;
  border-radius: 4px;
}
  
.contenedor .header {
  background: #12203E;
  color: #fff;
  grid-area: header;
}
  
.contenedor .contenido {
  grid-area: contenido;
  background-image:url(img/S_V.jpg);
  background-size: auto;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: right;
}
  
.contenedor .sidebar {
  grid-column: 3 / 4;
  background: #199296;
  text-align: center;
  display:flex;
  align-items:center;
  justify-content:center;
  min-height: 100px;
  grid-area: sidebar;
  background-image:url(img/seb-lime3.jpg);
  background-size: auto;
  background-attachment:scroll;
  background-repeat: no-repeat;
  background-position: bottom;
}
 
.contenedor .widget-1 {
  background: #021b33;
  color: #fff;
  height: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor .widget-2 {
  background: #a80707;
  color: #fff;
  height: 200px auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:url(img/Fetita_1.jpg);
  background-size: auto;
  background-attachment:scroll;
  background-repeat: no-repeat;
  background-position: bottom;

}
  
.contenedor .widget-1 {
  grid-area: widget-1;
}
  
.contenedor .widget-2 {
  grid-area: widget-2;
}
  
.contenedor .footer {
  background: #12203E;
  color: #fff;
  text-align: center;
  grid-area: footer;
} 
.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: #bcc2bc;
    color: #12203E;
    font-weight: bold;
    padding: 15px 25px;
    border-radius: 5%;
    text-decoration:none;
}
.button:hover {
  background: rgb(43, 44, 44);
  color: rgb(221, 221, 230);
  padding: 8px 14px;
  border: 1px solid rgb(221, 216, 216);
  border-radius: 5%;

  transition-property: all; /*a todas las propiedades nombradas*/
  transition-duration: 0.5s; /*con una duración de 0.5s*/
  transition-timing-function: ease-in; /*inicio lento, luego normal*/
}
  
@media screen and (max-width: 768px){
.contenedor {
    grid-template-areas: "header header header"
               "contenido contenido contenido"
               "sidebar sidebar sidebar"
               "widget-1 widget-1 widget-1"
               "widget-2 widget-2 widget-2"
               "footer footer footer";
  }
}

/* nav{
  display: block;
  width: 10%;
  margin: 0;
}
nav a{
  display: none;
  width: 100%;
  padding: 10%;
  font-size: 0.6em;
  border: 3px solid rgb(167, 170, 170);
  background: #12203E;
  color: #fff;
}
nav:target a{
  display: block;
}
nav > *:nth-child(1){
  display: block;
  width: 5em;
}
nav > *:nth-child(1) span{
  position: relative;
  display: block;
  width: 100%;
  height: .5em;
  margin-top: .25em;
  background: white;
}

nav > *:nth-child(1) span::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #12203E;
  transition: width 1s;
}
nav > *:nth-child(1):hover span::before{
  animation: open 1s forwards; 
}
nav > *:nth-child(1):hover span:nth-child(2)::before{
  animation-delay: .15s; 
}
nav > *:nth-child(1):hover span:nth-child(3)::before{
  animation-delay: .3s; 
}
@keyframes open {
  0% {width: 0;}
  100% {width: 100%;} 
} */


.social {
	position:fixed; /*Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/ 
	right: 0; /* Establecemos la barra en la izquierda */
  top: 200px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 0; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

	.social ul {
		list-style:none;
	}

	.social ul li a {
		display:grid;
		color:#E9EC;
    background:rgb(66, 65, 65);
		padding: 0px 0px;
		text-decoration:none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}

	/* .social ul li .icon-instagram {background: #9c18ae;}
	.social ul li .icon-facebook {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
	/* .social ul li .icon-twitter {background: #00abf0;}
	.social ul li .icon-whatsapp {background: #18c020;}
	.social ul li .icon-telegram {background: #1b4ace;} */

	.social ul li a:hover {
		background: black; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 0px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}
  #menu_on{
    display: inline-block;
    width:30px;
    height: 20px;
    position: relative;
    z-index: 2;
  }
   
  #menu_on span{
    width: 100%;
    height: 4px;
    border-radius: 4px;
    display: block;
    position: absolute;
    background: rgb(21, 3, 70);
    transition: all 0.25s ease; /* Propiedades a animar | Tiempo | Tipo animación*/
    transform-origin : 0px 100%;
  }
   
  #menu_on span:nth-child(2){
    top: calc(50% - 2px);
  }
   
  #menu_on span:nth-child(3){
  bottom: 0;
  }
  
  
  nav{
    position: fixed;
    top: 0;
    bottom: 0;
    left:-160px; /* Escondemos nuestro menú con un valor negativo */ 
    width: 160px;
    z-index: 1;
    padding: 90px 30px 30px;
    background: #cacacc;
    opacity: 0;
    transition: all 0.75s ease;
    font-size: 1em;
    font-weight: bold;
    overflow-y: auto;
  }
  nav a{
    display:block;
    text-decoration: none;
    padding: 10px;
    color: rgba(12, 12, 12, 0.808);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    transition: all ease 0.25s;
  }
   
  nav a:hover{
    color: rgba(255,255,255,1);
    border-bottom-color:rgba(255,255,255,0.4);
  }
  .visible_menu span:nth-child(1){
    transform: rotate(45deg) translate(-2px,1px); 
  }
   
  .visible_menu span:nth-child(2){
    opacity: 0;
  }
   
  .visible_menu span:nth-child(3){
    transform: rotate(-45deg) translate(-3px,3px); 
  }
  .visible_menu nav{
    left: 0;
    opacity: 1;
  }
  
  .visible_menu #content{
        transform: translateX(260px);
  }

  .icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'IcoMoon-Free' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-home:before {
    content: "\27f0";
  }
.icon-am:before {
    content: "\1f3ce";
  }

.icon-abstract:before {
    content: "\1f3c1";
  } 

.icon-statistics:before {
    content: "\1f5e0";
  }

.icon-contact:before {
    content: "\1f5b0";
  } 

.icon-about:before {
    content: "\1f441";
} 

.icon-galery:before {
    content: "\1f4fd";
  }

.icon-sliders:before {
    content: "\1f39e";
  }

.icon-helmet:before {
    content: "\2313";
  }

.icon-eco5v:before {
    content: "\1f3de";
  }
