body{
    background-color: teal;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
}

#videobox {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 10px;
    background:#CCCCCC;  /* Fondo VideoBox */
    border:10px solid #5A5A5A;
    padding:10px; -moz-box-shadow: 0px 0px 30px #E3E3E3;
    -webkit-box-shadow: 0px 0px 30px #E3E3E3;
    box-shadow: 0px 0px 30px #E3E3E3;
    position:relative;
    padding-bottom: 43.5%/*56.25%*/;
    padding-top: 0 /*100px*/; height: 0;
    overflow: hidden;
}
.mini {
    background: #ebeeec;  /* Fondo miniatura */
    -webkit-border-radius:3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding:0px;
    height:73px;
    width:100px;
    position: relative;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition:0.5s; 
    float: right;
    overflow:hidden;
    border-radius: 10%;
    z-index: 0;
}

.mini:hover {
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition:0.5s;
    transition: 0.5s;
    height: 100px;
    transition: all;
}

#videobox iframe,
#videobox object,
#videobox embed {
    position:absolute;
    top: 0;
    left: 0;
    width: 87%;
    height: 100%;
}

@keyframes open {
    width: 0%;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    body,
    #videobox {
            background: rgb(134, 8, 8);
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body,
    #videobox {
        background: rgb(22, 248, 22);
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body,
    #videobox {
        background: rgb(16, 16, 214);
    }
} 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body,
    #videobox {
        background: orange;
    }
} 
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body,
    #videobox {
        background: rgb(2, 46, 13);
    }
}

.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	right: 0; /* Establecemos la barra en la izquierda */
	bottom: 0; /* Bajamos la barra abajo */
	z-index: auto; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

.social ul {
	list-style:none;
}

.social ul li a {
	display: inline-block;
	color:#fff;
	background:rgb(66, 65, 65);
	padding: 0px 0px;
	text-decoration: none;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
}

.social ul li a:hover {
	background: black; /* Cambiamos el fondo cuando el usuario pase el mouse */
	padding: 5px 60px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}
#menu_on{
  display: inline-block;
  width:30px;
  height: 20px;
  position: relative;
  z-index: 2;
}
       
#menu_on span{
  width: 100%;
  height: 4px;
  border-radius: 4px;
  display: block;
  position: absolute;
  background: rgb(21, 3, 70);
  transition: all 0.25s ease; /* Propiedades a animar | Tiempo | Tipo animación*/
  transform-origin : 0px 100%;
}
       
#menu_on span:nth-child(2){
  top: calc(50% - 2px);
}
       
#menu_on span:nth-child(3){
  bottom: 0;
}
      
      
#menu_on{
  display: inline-block;
  width:30px;
  height: 20px;
  position: relative;
  z-index: 2;
}
       
#menu_on span{
  width: 100%;
  height: 4px;
  border-radius: 4px;
  display: block;
  position: absolute;
  background: rgb(242, 240, 247);
  transition: all 0.25s ease; /* Propiedades a animar | Tiempo | Tipo animación*/
  transform-origin : 0px 100%;
}
       
#menu_on span:nth-child(2){
  top: calc(50% - 2px);
}
       
#menu_on span:nth-child(3){
  bottom: 0;
}
      
      
nav{
  position: fixed;
  top: 0;
  bottom: 0;
  left:-160px; /* Escondemos nuestro menú con un valor negativo */ 
  width: 160px;
  z-index: 1;
  padding: 90px 30px 30px;
  background: #cacacc;
  opacity: 0;
  transition: all 0.75s ease;
  font-size: 1em;
  font-weight: bold;
  overflow-y: auto;
}
nav a{
  display:block;
  text-decoration: none;
  padding: 10px;
  color: rgba(12, 12, 12, 0.808);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  transition: all ease 0.25s;
}
       
nav a:hover{
  color: rgba(255,255,255,1);
  border-bottom-color:rgba(255,255,255,0.4);
}
.visible_menu span:nth-child(1){
  transform: rotate(45deg) translate(-2px,1px); 
}
       
.visible_menu span:nth-child(2){
  opacity: 0;
}
       
.visible_menu span:nth-child(3){
  transform: rotate(-45deg) translate(-3px,3px); 
}
.visible_menu nav{
  left: 0;
  opacity: 1;
}
      
.visible_menu #content{
  transform: translateX(260px);
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'IcoMoon-Free' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-home:before {
  content: "\27f0";
}
.icon-am:before {
  content: "\1f3ce";
}

.icon-abstract:before {
  content: "\1f3c1";
} 

.icon-statistics:before {
  content: "\1f5e0";
}

.icon-contact:before {
  content: "\1f5b0";
} 

.icon-about:before {
  content: "\1f441";
} 

.icon-galery:before {
  content: "\1f4fd";
}

.icon-sliders:before {
  content: "\1f39e";
}

.icon-helmet:before {
  content: "\2313";
}

.icon-eco5v:before {
  content: "\1f3de";
}
