body{
    background-color: teal;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
}

.container{
    margin:auto;
    background-color: white;
    text-align: center;
    width: 950px;
    padding: 10px;
    border-radius:2%;
}

ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.slider{
    position: relative;
    width: 100%;
    height: 510px;
}
ul.slider li{
    position: absolute;
    left:0;
    top:0;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: rgb(167, 170, 170);
    transition: opacity .5s;
    border-radius:1%;

}

ul.slider li img{
    width: 100%;
    height: 400px;
    object-fit:scale-down;
}

ul.slider li:first-child{
    opacity: 1;
}

ul.slider li:target{
    opacity:1;
}



.menu{
    text-align: center;
    margin: 20px;
}
.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: gray;
    padding: 5px;
    width: 25px;
    height: 25px;
    font-size: 0.8em;
    /* border-radius: 100%; */
}

@media only screen and (max-width: 600px) {
    .container,
    .menu,
    .menu li,
    .menu li a{
            background: rgb(134, 8, 8);
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container,
    .menu,
    .menu li,
    .menu li a {
        background: rgb(22, 248, 22);
        }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container,
    .menu,
    .menu li,
    .menu li a {
        background: rgb(16, 16, 214);
    }
} 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container,
    .menu,
    .menu li,
    .menu li a {
        background: orange;
    }
} 
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container,
    .menu,
    .menu li,
    .menu li a {
        background: rgb(2, 46, 13);
    }
}

.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	right: 0; /* Establecemos la barra en la izquierda */
	top: 200px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

	.social ul {
		list-style:none;
	}

	.social ul li a {
		display: grid;
		color:#fff;
		background:rgb(66, 65, 65);
		padding: 0px 0px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}

	/* .social ul li .icon-instagram {background: #9c18ae;}
	.social ul li .icon-facebook {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
	/* .social ul li .icon-twitter {background: #00abf0;}
	.social ul li .icon-whatsapp {background: #18c020;}
	.social ul li .icon-telegram {background: #1b4ace;} */ 

	.social ul li a:hover {
		background: black; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 5px 60px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}

    #menu_on{
        display: inline-block;
        width:30px;
        height: 20px;
        position: relative;
        z-index: 2;
    }
     
    #menu_on span{
        width: 100%;
        height: 4px;
        /* border-radius: 4px; */
        display: block;
        position: absolute;
        background: #fff;
        transition: all 0.25s ease; /* Propiedades a animar | Tiempo | Tipo animación*/
        transform-origin : 0px 100%;
    }
     
    #menu_on span:nth-child(2){
        top: calc(50% - 2px);
    }
     
    #menu_on span:nth-child(3){
    bottom: 0;
    }
    
    
    nav{
        position: fixed;
        top: 0;
        bottom: 0;
        left:-150px; /* Escondemos nuestro menú con un valor negativo */ 
        width: -150px;
        z-index: 1;
        padding: 90px 30px 30px;
        background: #e2e5e5;
        opacity: 0;
        transition: all 0.75s ease;
        font-size: 1em;
        font-weight: bold;
        overflow-y: auto;
    }
    nav a{
        display:block;
        text-decoration: none;
        padding: 10px;
        color: rgba(12, 12, 12, 0.808);
        border-bottom: 1px solid rgba(255,255,255,0.2);
        transition: all ease 0.25s;
    }
     
    nav a:hover{
        color: rgba(255,255,255,1);
        border-bottom-color:rgba(255,255,255,0.4);
    }
    .visible_menu span:nth-child(1){
        transform: rotate(45deg) translate(-2px,2px); 
    }
     
    .visible_menu span:nth-child(2){
        opacity: 0;
    }
     
    .visible_menu span:nth-child(3){
        transform: rotate(-45deg) translate(-3px,3px); 
    }
    .visible_menu nav{
        left: 0;
        opacity: 1;
    }
    
    /* .visible_menu #content{
          transform: translateX(260px);
    }     */

    .icon {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'IcoMoon-Free' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        
        /* Enable Ligatures ================ */
        letter-spacing: 0;
        -webkit-font-feature-settings: "liga";
        -moz-font-feature-settings: "liga=1";
        -moz-font-feature-settings: "liga";
        -ms-font-feature-settings: "liga" 1;
        -o-font-feature-settings: "liga";
        font-feature-settings: "liga";
    
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .icon-home:before {
        content: "\27f0";
      }
    .icon-am:before {
        content: "\1f3ce";
      }
    
    .icon-abstract:before {
        content: "\1f3c1";
      } 
    
    .icon-statistics:before {
        content: "\1f5e0";
      }
    
    .icon-contact:before {
        content: "\1f5b0";
      } 
    
    .icon-about:before {
        content: "\1f441";
    } 
    
    .icon-galery:before {
        content: "\1f4fd";
      }
    
    .icon-sliders:before {
        content: "\1f39e";
      }
    
    .icon-helmet:before {
        content: "\2313";
      }
    
    .icon-eco5v:before {
        content: "\1f3de";
      }
    